.md-content__inner {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 1rem;
    /* background-image: repeating-linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 28px,
    #e8f0fa 29px,
    #ffffff 30px
  ); */
}

/* Nível	Hex	Descrição
100	#FFFCF5	Muito claro (quase branco)
200	#FFF9E5	Tom mais claro
300	#FFF6D2	Levemente mais escuro
400	#FDEFC0	Mais saturado
500	#FFF8DC	Cor base (cornsilk)
600	#E6DBBE	Um pouco mais escuro e terroso
700	#CCBEA1	Bege mais escuro
800	#B3A285	Bege terroso ainda mais escuro
900	#998669	Marrom claro */

/* Lavanda	#E6E6FA	Roxo muito claro, quase branco
Lilás	#D8BFD8	Tom suave e claro
Orquídea clara	#DA70D6	Um pouco mais saturado
Amestista	#9966CC	Médio e equilibrado
Roxo clássico	#800080	Roxo puro, padrão
Violeta escuro	#6A0DAD	Mais escuro e intenso
Índigo	#4B0082	Escuro com fundo azulado
Berinjela	#311432	Muito escuro, para fundos ou sombras */

/* Nome	Hex	Observações
Creme claro	#FFFDE7	Quase branco, toque de amarelo pastel
Bege amarelado	#FFF8DC	“Cornsilk”, suave, papel legal
Amarelo claro	#FFF176	Vibrante, sem ser agressivo
Amarelo padrão	#FFEB3B	“Yellow” típico de interfaces
Mostarda	#FFD700	Mais saturado, bom para destaques
Dourado escuro	#FFC107	Um toque laranja/amarronzado
Âmbar profundo	#FFB300	Mais escuro, mas ainda quente
Ocre	#CC9900	Bem escuro, amarelado/marrom */

:root  > [data-md-color-scheme="default"] .md-header {
}

:root  > [data-md-color-scheme="slate"] .md-header, :root  > [data-md-color-scheme="slate"] .md-tabs {
    background: #0d1117;
}

:root  > [data-md-color-scheme="default"] .md-header, :root  > [data-md-color-scheme="default"] .md-tabs {
    background: #222;
}

:root  > [data-md-color-scheme="slate"] .md-content__inner {
}

:root  > [data-md-color-scheme="default"] .md-typeset__table thead {
    background: #333;
}

:root  > [data-md-color-scheme="default"] .md-typeset__table thead th {
   color: white;
}

:root  > [data-md-color-scheme="default"] .md-typeset__table tbody tr:nth-child(odd) {
    background: white;
}
:root  > [data-md-color-scheme="default"] .md-typeset__table tbody tr:nth-child(even) {
    background: #eee;
}

:root  > [data-md-color-scheme="slate"] .md-typeset__table thead {
    background: #0d1117;
 }

:root  > [data-md-color-scheme="slate"] .md-typeset__table tbody tr:nth-child(odd) {
    background: #1c2128;
}
:root  > [data-md-color-scheme="slate"] .md-typeset__table tbody tr:nth-child(even) {
    background: #161b22;
}



  .md-header__button.md-logo img {
    height: 48px; /* ajuste conforme quiser */
    max-height: none;
  }

  :root  > [data-md-color-scheme="default"] {
    /* --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C; */
    
    --md-primary-fg-color:     #6A0DAD     ; 
    /* --md-primary-fg-color--light:   ;  */
    /* --md-primary-fg-color--dark:    ;  */
    /* --md-primary-bg-color:        #FFEB3B  ;  */
    /* --md-primary-bg-color--light:   ; */

    --md-accent-fg-color:            #6A0DAD    ;


    /* --md-default-fg-color:                ; */
    /* --md-default-fg-color--light:      ; */
    /* --md-default-fg-color--lighter:    ; */
    /* --md-default-fg-color--lightest:   ; */
    /* --md-default-bg-color:        red     ; */
    /* --md-default-bg-color--light:     ; */
    /* --md-default-bg-color--lighter:    ; */
    /* --md-default-bg-color--lightest:   ; */
  }

  :root  > [data-md-color-scheme="slate"] {
    --md-primary-fg-color:    #FFC107      ; 
    --md-primary-fg-color--light:  red ; 
    /* --md-primary-fg-color--dark: red   ;  */
    /* --md-primary-bg-color:   #FFEB3B      ; // textos principais do header */
    /* --md-primary-bg-color--light:  ; texto da caixa de pesquisa */

    --md-accent-fg-color:            #FFC107    ;
    /* --md-accent-fg-color--transparent:   ; */
    /* --md-accent-bg-color:                ; */
    /* --md-accent-bg-color--light:         ; */

    /* --md-default-fg-color:               ; todos os textos que não são h1 */
    /* --md-default-fg-color--light:      ; */
    /* --md-default-fg-color--lighter:    ; */
    /* --md-default-fg-color--lightest:   ; */
    /* --md-default-bg-color:             ; // background da página */
    /* --md-default-bg-color--light:      ; */
    /* --md-default-bg-color--lighter:    ; */
    /* --md-default-bg-color--lightest:   ; */
  }

  